page-home {
    .main{

        p{
            text-align: center;
        }

        background: #cfd4d2;
    
        button{
            background-color: #586c0c;
            margin-top: 40%;
        }

    }
    

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    

}